@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

:root {
  --navbar-color: rgb(185, 79, 148);
  --content-color: rgb(233, 233, 233);
  --footer-color: rgb(105, 136, 145);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Sora", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
