@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

:root {
  --navbar-color: rgb(185, 79, 148);
  --content-color: rgb(233, 233, 233);
  --footer-color: rgb(105, 136, 145);
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Sora", Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 30px; /* Margin bottom by footer height */
}

body {
  margin-top: 66px; /* Margin top by navbar height */
}

.btn-dark {
  background-color: var(--navbar-color) !important;
  border: none;
}
