@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Sora", Arial, "Helvetica Neue", Helvetica, sans-serif;
}

nav {
  font-size: 18px;
}

body {
  margin-top: 70px;
}
