.navbar-brand {
  background-color: white;
  border-radius: 15px;
}

.navbar-brand:hover {
  background-color: whitesmoke;
}

.navbar {
  font-size: 17px;
}

.navbar-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-nav svg {
  display: block;
}
